.projectCard {
  height: 300px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 2px 10px var(--modal-shadow);
  img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .info {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: var(--project-carousel-bg-color);
    color: var(--project-carousel-color);

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
    }
    .texts {
      h2 {
        font-size: 0.7rem;
        font-weight: 500;
      }
      span {
        font-size: 0.65rem;
        color: #868591;
      }
    }
  }
  .container {
  }
}
