// SCSS DARK THEME PRIMARY COLORS
$primary-50: #bab2ff;
$primary-100: #a6a0ff;
$primary-200: #928eff;
$primary-300: #7b7cff;
$primary-400: #616bff;
$primary-500: #3d5afe;
$primary-600: #253698;

// SCSS DARK THEME BG COLORS
$dark-50: #868591;
$dark-100: #6a6977;
$dark-200: #4f4e5f;
$dark-300: #363547;
$dark-400: #1e1e31;
$dark-500: #03001c;
$dark-600: #000;

// SCSS OTHER COLOR
$text: #fff;
$light: #f7f7f7;
$light-text: #e1e1e1;
