@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap");
@import "./variable.scss";

html[data-theme="light"] {
  --primary: #{$primary-500};
  --scrollbar: #{$dark-50};
  --text-color: #{$dark-500};
  --light-text-color: #{$dark-200};
  --gray-bg: #{$light-text};

  --bg-color: #{$text};
  --btn-color: #{$text};
  --btn-bg-color: #{$primary-500};
  --btn-hover-bg: #{$primary-400};
  --nav-bg-color: #{$dark-600};
  --nav-active-bg: #{$text};
  --nav-text-color: #{$text};
  --modal-shadow: #{$dark-50};
  --modal-bg-color: #{$text};
  --modal-color: #{$dark-500};
  --input-bg-color: #{$text};
  --input-gray-bg: #{$light};
  --input-color: #{$dark-50};
  --carousel-arr-color: #{$primary-500};
  --carousel-arr-bg-color: #{$text};
  --project-carousel-bg-color: #{$text};
  --project-carousel-color: #{$dark-500};
  --gig-bg-color: #{$text};
  --gig-color: #{$dark-100};
  --border-color: #{$light-text};
  --footer-bg-color: #{$text};
  --footer-color: #{$dark-50};
}

html[data-theme="dark"] {
  --primary: #{$primary-100};
  --scrollbar: #{$dark-50};
  --text-color: #{$text};
  --light-text-color: #{$light-text};
  --gray-bg: #{$dark-400};

  --bg-color: #{$dark-500};
  --btn-color: #{$dark-300};
  --btn-bg-color: #{$primary-100};
  --btn-hover-bg: #{$primary-50};

  --nav-bg-color: #{$primary-600};
  --nav-text-color: #{$text};
  --nav-active-bg: #{$dark-400};

  --modal-bg-color: #{$dark-300};
  --modal-color: #{$light-text};
  --input-bg-color: #{$dark-400};
  --input-gray-bg: #{$dark-400};
  --input-color: #{$light-text};
  --carousel-arr-color: #{$primary-200};
  --carousel-arr-bg-color: #{$dark-400};
  --project-carousel-bg-color: #{$dark-400};
  --project-carousel-color: #{$text};
  --gig-bg-color: #{$text};
  --gig-color: #{$light-text};
  --border-color: #{$dark-400};
  --footer-bg-color: #{$dark-500};
  --footer-color: #{$light-text};
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--scrollbar);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  // font-size: 16px;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}
body {
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: inherit;
}
#root,
#__next {
  isolation: isolate;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  all: unset;
  cursor: pointer;
}
.container {
  padding: 0 20px;
  width: 100%;
  @media (min-width: 500px) {
    padding: 0 26px;
  }
  @media (min-width: 768px) {
    padding: 0 32px;
  }
  // @media (min-width: 992px) {
  //   padding: 0 40px;
  // }
  @media (min-width: 1200px) {
    max-width: 1400px;
  }
  // @media (min-width: 1450px) {
  //   width: 1400px;
  // }
}
