.add {
  display: flex;
  justify-content: center;

  .container {
    padding-top: 120px;
    padding-bottom: 50px;
    .add-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;
      h1 {
        width: max-content;
        color: var(--light-text-color);
        font-weight: 300;
      }
      .response-message {
        border-radius: 5px;
        padding: 10px 5px 10px 15px;
        background-color: var(--success);
        color: #000;
        min-width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        position: relative;
        &[aria-errormessage="true"] {
          background-color: var(--error-text);
          color: var(--btn-color);
        }
        .close-icon {
          width: 30px;
          cursor: pointer;
        }
      }
    }

    .sections {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 15px;

      label {
        color: var(--light-text-color);
        font-size: 18px;
      }

      .info,
      .details {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 15px;

        input,
        select,
        textarea {
          padding: 20px;
          outline: none;
          border: none;
          background-color: var(--input-gray-bg);
          color: var(--input-color);
          border-radius: 5px;
        }
        textarea {
          flex: 1;
        }
        .file {
          padding: 10px;
          background-color: var(--input-gray-bg);
        }
        .file::file-selector-button {
          border: none;
          border-radius: 4px;
          color: var(--btn-color);
          background-color: var(--btn-bg-color);
          border: 1px solid var(--border-color);
          height: 40px;
          margin-right: 10px;
          cursor: pointer;
          transition: all 0.25s ease-in;
          cursor: pointer;
        }
        .file::file-selector-button:hover {
          background-color: var(--btn-hover-bg);
          transition: all 0.25s ease-in;
        }
      }
    }
    button {
      display: block;
      width: 100%;
      margin-top: 30px;
      min-width: 150px;
      min-height: 65px;
      border: none;
      color: var(--btn-color);
      background-color: var(--btn-bg-color);
      font-weight: 500;
      font-size: 0.9rem;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
      transition: all 0.5s ease;
      &:hover {
        background-color: var(--btn-hover-bg);
      }
    }
  }
}
@media (min-width: 992px) {
  .add {
    .container {
      .sections {
        flex-direction: row;
        gap: 100px;
      }
      button {
        margin-left: auto;
        width: max-content;
        min-height: 55px;
      }
    }
  }
}
