.gig {
  display: flex;
  justify-content: center;

  .gigContainer {
    padding-top: 120px;
    padding-bottom: 30px;
    flex-direction: column;
    display: flex;
    gap: 50px;

    .left {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-weight: 600;
      }
      .gigSlide {
        padding: 0;
        .container,
        .slide {
          padding: 0;
        }
        .carousel-initialized {
          height: 550px;
        }

        .carousel-row {
          margin: 0;
          img {
            border-radius: 5px;
            object-fit: cover;
            height: 550px;
          }
        }
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;

        .pp {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        span {
          font-size: 14px;
          font-weight: 500;
        }
      }

      .slider {
        background-color: #f5f5f5;
        img {
          max-height: 500px;
          object-fit: contain;
        }
      }

      h2 {
        font-weight: 400;
      }

      p {
        font-weight: 300;
        line-height: 25px;
        color: var(--text-color);
      }

      .seller {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .user {
          display: flex;
          align-items: center;
          gap: 20px;

          img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 10px;
            span {
              font-size: 0.8rem;
            }
            button {
              background-color: var(--btn-bg-color);
              color: var(--btn-color);
              border-radius: 5px;
              padding: 5px 10px;
              font-size: 0.8rem;
            }
          }
        }

        .box {
          border-radius: 5px;
          padding: 20px;
          margin-top: 20px;
          background-color: var(--foreground);

          .items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .item {
              width: 300px;
              display: flex;
              flex-direction: column;
              gap: 10px;
              margin-bottom: 20px;

              .title {
                font-weight: 300;
              }
            }
          }

          hr {
            height: 0;
            border: 0.5px solid var(--divider);
            margin-bottom: 20px;
          }
          p {
            padding: 10px 0;
          }
        }
      }
    }
    .rate-star {
      display: flex;
      gap: 5px;
      align-items: center;
      svg {
        width: 18px;
        height: 18px;
        color: #ffc108;
      }
      span {
        font-size: 1rem;
      }
    }
    .right {
      flex: 1;
      background-color: var(--foreground);
      padding: 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      height: max-content;
      position: sticky;
      top: 150px;

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        h2 {
          font-weight: 300;
        }

        h3 {
          font-weight: 500;
          flex: 1;
        }
      }

      p {
        color: var(--light-text-color);
        margin: 10px 0px;
      }

      .details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          svg {
            width: 30px;
          }
          img {
            width: 20px;
          }
        }
      }

      .gigfeatures {
        background-color: var(--modal-bg-color);
        padding: 10px;
        border-radius: 5px;
        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 300;
          color: var(--text-color);
          margin-bottom: 5px;

          img {
            width: 14px;
          }
          span {
            text-transform: capitalize;
            font-size: 0.8rem;
          }
        }
      }

      button {
        background-color: var(--btn-bg-color);
        padding: 10px;
        color: var(--btn-color);
        font-weight: 500;
        border: none;
        font-size: 18px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
@media (min-width: 992px) {
  .gig {
    .gigContainer {
      flex-direction: row;
    }
  }
}
