.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all 0.5s ease;
  background-color: var(--nav-bg-color);
  color: var(--nav-text-color);
  z-index: 100;
  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .mobile-menu {
      svg {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
    .logo {
      font-size: 34px;
      font-weight: bold;
      .dot {
        color: #7b7cff;
      }
    }
    .links {
      display: flex;
      gap: 24px;
      align-items: center;
      font-weight: 500;
      .link {
        display: none;
      }
      .user {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        position: relative;
        span {
          display: none;
        }
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: contain;
        }
        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          border-radius: 5px;
          background-color: var(--modal-bg-color);
          color: var(--modal-color);
          font-weight: 300;
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 200px;
          transition: all 0.5s ease;
          visibility: hidden;
          opacity: 0;
          box-shadow: 0 4px 10px var(--modal-shadow);
          &[aria-hidden="true"] {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .join {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid var(--nav-text-color);
        transition: all 0.5s ease;

        &:hover {
          background-color: var(--btn-bg-color);
          border-color: var(--btn-bg-color);
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid #868591;
    display: none;
  }
  .menu {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    display: none;
    width: 100%;
    display: none;
  }
  &.active {
    background-color: var(--nav-active-bg);
    color: var(--text-color);
    .links button {
      border-color: var(--btn-bg-color);
      color: var(--btn-bg-color);
      &:hover {
        color: var(--nav-text-color);
      }
    }
  }
}
@media (min-width: 540px) {
  .navbar .container .links .user span {
    display: block;
  }
}
@media (min-width: 768px) {
  .navbar {
    .container {
      .mobile-menu {
        display: none;
      }
      .links {
        .link {
          display: block;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .navbar .container {
    hr {
      display: block;
    }
    .menu {
      display: flex;
    }
  }
}
