.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  color: var(--nav-text-color);
  z-index: 100;
  animation-delay: 500ms;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  &.shadow {
    box-shadow: 0 1px 5px var(--shadow);
  }
  &.animate {
    animation-name: slideInDown;
  }
  &.active {
    background-color: var(--nav-active-bg);
    color: var(--text-color);

    .links button {
      border-color: var(--btn-bg-color);
      color: var(--btn-bg-color);
      &:hover {
        color: var(--nav-text-color);
      }
    }
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .mobile-menu {
      svg {
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
    .logo {
      font-size: 34px;
      font-weight: bold;
      .dot {
        color: #7b7cff;
      }
    }
    .links {
      display: flex;
      gap: 15px;
      align-items: center;

      &.navActive {
        color: var(--primary);
      }
      .link {
        display: none;
      }
      .user {
        display: flex;
        gap: 5px;
        align-items: center;
        cursor: pointer;
        position: relative;
        span {
          display: none;
          font-size: 0.8rem;
        }
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          border-radius: 5px;
          background-color: var(--modal-bg-color);
          color: var(--modal-color);
          font-weight: 300;
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 200px;
          transition: all 0.5s ease;
          visibility: hidden;
          opacity: 0;
          box-shadow: 0 4px 10px var(--shadow);
          &[aria-hidden="true"] {
            visibility: visible;
            opacity: 1;
          }
          .logout {
            text-align: center;
            background-color: var(--error-text);
            color: var(--btn-color);
            border-radius: 5px;
            padding: 5px 0;
          }
        }
      }

      .join {
        padding: 10px 20px;
        border-radius: 5px;
        border: 2px solid var(--btn-bg-color);
        transition: all 0.5s ease;

        &:hover {
          background-color: var(--btn-bg-color);
          border-color: var(--btn-bg-color);
          color: #fff;
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid var(--divider);
  }
  .menu {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    width: 100%;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
    & .container {
      padding-top: 0;
      padding-bottom: 0;
      gap: 10px;
      .menu-links {
        white-space: nowrap;
        font-size: 0.7rem;
      }
    }
  }
}
@media (min-width: 540px) {
  .navbar .container .links .user span {
    display: block;
  }
}
@media (min-width: 768px) {
  .navbar {
    .container {
      .mobile-menu {
        display: none;
      }
      .links {
        .link {
          display: block;
        }
      }
    }
  }
}
@media (min-width: 992px) {
  .navbar .container {
    hr {
      display: block;
    }
    .menu {
      display: flex;
    }
  }
}
@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  from {
    -webkit-transform: translateY(0, 100%, 0);
    transform: translateY(0, 100%, 0);
    visibility: visible;
  }
  to {
    -webkit-transform: translateY(0, -100%, 0);
    transform: translateY(0, -100%, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}
